<div class="formbox">
<div class="logo_game"></div>
<div class="dotted_line"></div>
<div class="content-form">
	<h3 class="ribborn-title" style="width: 380px">El Bateador Más Popular</h3>
	<h4>Demuestra que eres un líder de bateo y únete a la #EmocionMásPopular. Regístrate para guardar tu average en el ranking de bateadores.</h4>
	<?php if($this->getContent()) { ?><div style="text-align:center;"><?php echo  "Favor completar los datos solicitados <br /> ".$this->getContent(); ?> <br /></div> <?php } ?>
	<form method="post" action="/registro/create" id="signup">
		<div class="row">
			<div class="col"><?php echo $this->tag->textField(array("nombre", "size" => 30, "class" => "form-control required", "placeholder" => "Nombre ")) ?></div>
			<div class="col"><?php echo $this->tag->textField(array("apellido", "size" => 30, "class" => "form-control required", "placeholder" => "Apellido")) ?></div>
			<div class="col"><?php echo $this->tag->textField(array("cedula", "size" => 30, "class" => "form-control required", "placeholder" => "Cedula", "id"=>"cedula")) ?></div>
		</div>

		<div class="row">
			<div class="col"><?php echo $this->tag->textField(array("email", "size" => 30, "class" => "form-control required email", "placeholder" => "Correo")) ?></div>
			<div class="col"><?php echo $this->tag->textField(array("telefono", "size" => 30, "class" => "form-control required", "placeholder" => "Telefono", "id"=>"phone")) ?></div>
		<div class="col">
				<?php echo ($this->tag->select(["id_provincia", $provincia, "using" => ["id_provincia", "name"], "class" => "form-control"])) ?>
			</div>
		</div>
	<div class="row ">
			<div class="col">
				<?php echo ($this->tag->select(["equipo_id", $equipos, "using" => ["equipo_id", "nombre"], "class" => "form-control"])) ?>
			</div>
				<div class="col"><?php echo $this->tag->passwordField(array("password", "size" => 30, "class" => "form-control required", "placeholder" => "Contraseña")) ?></div>
			<div class="col"><?php echo $this->tag->passwordField(array("password2", "size" => 30, "class" => "form-control required", "placeholder" => "Confirmar Contraseña")) ?></div>
		</div>
		<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>


		<div class="buttons">
			<input type="submit" class="btn-orange" value="Guardar y continuar" />
		</div>
	</form>
	<div class="dotted_line"></div>
</div>
</div>

<!-- <div class="container">
	<form method="post" action="/registro/create" id="registro">

	<div class="starter-template">
		<p class="lead">Demuestra que eres un Líder de Bateo y vive la Emoción Más Popular.
Regístrate para guardar tu average en el ranking de bateadores.</p>
<a href="<?php echo $this->facebook->facebookLoginURL('http://emocionpopular.com.do/login/facebook');?>" >Login facebook</a>
	</div>
	
	<?php echo $this->getContent(); ?>
	<?php
		if($facebook)
		{
			 $this->tag->setDefault("nombre", $facebook['name']);
			 $this->tag->setDefault("email", $facebook['email']);
		}
	?>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<?php echo $this->tag->textField(array("nombre", "size" => 30, "class" => "form-control required", "placeholder" => "Nombre y Apellido")) ?>
			</div>
			<div class="form-group">
				<?php echo $this->tag->textField(array("cedula", "size" => 30, "class" => "form-control required", "placeholder" => "Cedula", "id"=>"cedula")) ?>
			</div>
			<div class="form-group">
				<?php echo utf8_encode($this->tag->select(["id_provincia", $provincia, "using" => ["id_provincia", "name"], "class" => "form-control"])) ?>
			</div>
			<div class="form-group">
				<?php echo utf8_encode($this->tag->select(["equipo_id", $equipos, "using" => ["equipo_id", "nombre"], "class" => "form-control"])) ?>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<?php echo $this->tag->textField(array("email", "size" => 30, "class" => "form-control required email", "placeholder" => "Correo")) ?>
			</div>
			<div class="form-group">
				<?php echo $this->tag->textField(array("telefono", "size" => 30, "class" => "form-control required", "placeholder" => "Telefono", "id"=>"phone")) ?>
			</div>
			<div class="form-group">
				<?php echo $this->tag->passwordField(array("password", "size" => 30, "class" => "form-control required", "placeholder" => "Contraseña")) ?>
			</div>
			<div class="form-group">
				<?php echo $this->tag->passwordField(array("password2", "size" => 30, "class" => "form-control required", "placeholder" => "Confirmar Contraseña")) ?>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-lg">Guardar y continuar</button>
	</form>
</div> -->
