<div class="blueline"></div>
<div id="player-position">
<div id="product">
	<div id="slides">
		<div class="slides_container">
			<div><img src="/images/products/1.jpg" alt=""></div>
			<div><img src="/images/products/2.jpg" alt=""></div>
			<div><img src="/images/products/3.jpg" alt=""></div>
			<div><img src="/images/products/4.jpg" alt=""></div>
			<div><img src="/images/products/5.jpg" alt=""></div>
			<div><img src="/images/products/6.jpg" alt=""></div>
		</div>
	</div>

	<div class="thumbnails">
		<ul>
			<li><a href="#1" class="link"><img src="/images/products/1.jpg" alt=""></a></li>
			<li><a href="#2" class="link"><img src="/images/products/2.jpg" alt=""></a></li>
			<li><a href="#3" class="link"><img src="/images/products/3.jpg" alt=""></a></li>
			<li><a href="#4" class="link"><img src="/images/products/4.jpg" alt=""></a></li>
			<li><a href="#5" class="link"><img src="/images/products/5.jpg" alt=""></a></li>
			<li><a href="#6" class="link"><img src="/images/products/6.jpg" alt=""></a></li>
		</ul>
	</div>
</div>

</div>
<div class="socialblock fullwidth" style="background-image: none; background-color: white;">
	<?=$tweet;?>
	<a href="#results" class="blue_arrowdown"></a>
</div>
