<div class="blueline"></div>
<div id="player-position" style="min-height:500px;">
	<div id="allplayers">
	

		
				<table width="100%">
			<tr>
				<td style="border:0; padding-top:30px;"><div class="admin-number-count" style="float:left;"><div class="larger"><?= $count ?></div>BATEADORES REGISTRADOS</div></td>
				<td style="border:0"><h3 class="ribborn-title" style="width:300px;">
		  <a href="<?=$linkLeft; ?>" class="pagination btn_prev" name="page"></a>
		  Todos los bateadores
		  <a href="<?=$linkRight; ?>" class="pagination btn_next"></a>
		</h3></td>
				<td style="border:0; padding-top:27px"><div class="div-csv">
				<a href="/admin/convertcsv" TARGET="_blank" style="color: #fff;"><img class="img_cvs" src="images/cvs.png"><br>DESCARGAR CSV</a>
				</div>
	</td>
	<td style="border:0; padding-top:48px;">
		<div class="pagination" style="float:right;">
			<div class="pagination-label">PÁGINA</div>
			<div class="pagination-count"><?= $page ?> DE <?= ceil($count / 10) ?></div>
		</div>
	</td>
			</tr>
		</table>
		
		<table>
			<!-- no borrar esta línea --> <tr></tr>	<!-- no borrar esta línea -->
			<tr>
				<td>Nombre</td>
				<td>Cedula</td>
				<td>Email</td>
				<td>Telefono</td>
				<td>Provincia</td>
				<td>Equipo</td>
				<td>Total de bateo</td>
			</tr>
			<?php foreach($users as $k => $user){ ?>			
			<tr>
				<td><span><?= $user->nombre; ?></span></td>
				<td><?= $user->cedula ?></td>
				<td><?= $user->email ?></td>
				<td><?= $user->telefono ?></td>
				<td><?= $user->provincias->name ?></td>
				<td><?= $user->equipos->nombre ?></td>
				<td><?= (int) $user->total_bateo ?></td>
			</tr>
			<?php } ?>
		</table>
	</div>
</div>