@font-face {
    font-family: 'OceanSansMTLightRoman';
    src: url('oceanlt_.eot');
    src: url('oceanlt_.eot') format('embedded-opentype'),
         url('oceanlt_.woff2') format('woff2'),
         url('oceanlt_.woff') format('woff'),
         url('oceanlt_.ttf') format('truetype'),
         url('oceanlt_.svg#OceanSansMTLightRoman') format('svg');
}
