<?php
	$mobile = Pelota\Pelota::getMobileDetect();
?>
<div id="practice">
	<?php if($mobile->isMobile() || $mobile->isTablet() || $mobile->isIphone()){ ?>
		<img src="/images/mensajemobile.png" />
	<?php }else{ ?>
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="800" height="590" id="baseball_flash_800x590" align="middle">
				<param name="movie" value="https://emocionpopular.com.do/baseball_flash_800x590_3.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<?php if($this->session->has("userData")) { ?><PARAM NAME="FlashVars" VALUE="userId=<?=$this->session->get('userData')->user_id;?>"><?php } ?>
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="https://emocionpopular.com.do/baseball_flash_800x590_3.swf?<?=time();?>" width="800" height="590">
					<param name="movie" value="https://emocionpopular.com.do/baseball_flash_800x590_3.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					                                <?php if($this->session->has("userData")) { ?><PARAM NAME="FlashVars" VALUE="userId=<?=$this->session->get('userData')->user_id;?>"><?php } ?>
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="https://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		<?php } ?>
</div>
</div>
<div id="status">
<div class="content" style="background-color:#004990; width:849px;">
	<span class="onlinse" style="padding-top:10px;"> <?php if($this->session->has("userData")) { ?> <img src="/images/cerrar_sesion.png" style="float:left; margin-right: 5px;"> <b><a href='/login/logout' style='color:white;'>CERRAR SESIÓN</a></b><?php } ?></span>
	<span></span>
</div>
