<div class="blueline"></div>
<div id="player-position" style="min-height:500px;">
<?php
if(!isset($users)){ ?>
	<table>
		<tr>
			<th style="width: 10%">Posición</th>
			<th style="width: 10%">Homeruns</th>
			<th class="name" style="width: 55%">Bateador</th>
			<th style="width: 15%">Provincia</th>
			<th style="width: 8%">Equipo</th>
		</tr>

		<?php foreach($best as $k => $history){ 

			$medal = null;
			switch ($k) {
				case 0:
					$medal = 'gold_medal';
					break;
				case 1:
					$medal = 'silver_medal';
					break;
				case 2:
					$medal = 'bronce_medal';
					break;					
			}
		?>
		<tr>
			<td class="medal"><span class="<?=$medal;?>"></span></td>
			<td class="points"><?= $history->total_bateo ?></td>
			<td class="name"><?= $history->nombre ?></td>
			<td class="province"><?= $history->provincias->name ?></td>
			<td class="logo">  <img src="images/teams/<?= $history->equipos->image ?>" alt="" /></td>
		</tr>
		<?php } ?>
		
	</table>

	<!-- TWEET -->
	<div class="socialblock">
		<div id="w-twitter">
			<?=$tweet;?>
		</div>
	</div>
<?php } ?>
	<div id="allplayers">
		<h3 class="ribborn-title" style="width:300px;">
		  <a href="<?=$linkLeft; ?>" class="pagination btn_prev" name="page"></a>
		  Todos los bateadores
		  <a href="<?=$linkRight; ?>" class="pagination btn_next"></a>
		</h3>

		<table>
			<!-- no borrar esta línea --> <tr></tr>	<!-- no borrar esta línea -->		
			<?php foreach($histories as $k => $history){ ?>			
			<tr>
				<td class="medal"><span><?= $history->getPosition(); ?></span></td>
				<td class="points"><?= (int) $history->total_bateo ?></td>
				<td class="name"><?= $history->nombre ?></td>
				<td class="province"><?= $history->provincias->name ?></td>
			<td class="logo">  <img src="images/teams/<?= $history->equipos->image ?>" alt="" /></td>
			</tr>
			<?php } ?>
		</table>
	</div>
</div>
