<section>
	<div id="videos" class="left"><!-- Start of Brightcove Player -->

		<!-- Start of Brightcove Player -->

		<div style="display:none"></div>

		<!--
		By use of this code snippet, I agree to the Brightcove Publisher T and C 
		found at https://accounts.brightcove.com/en/terms-and-conditions/. 
		-->

		<script language="JavaScript" type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>

		<object id="myExperience3895074030001" class="BrightcoveExperience">
		  <param name="bgcolor" value="#FFFFFF" />
		  <param name="width" value="537" />
		  <param name="height" value="337" />
		  <param name="playerID" value="3890121505001" />
		  <param name="playerKey" value="AQ~~,AAACVesGJGE~,Fh1ajYfd8IY8oDmTKcMh3m8oVy1N8EJ0" />
		  <param name="isVid" value="true" />
		  <param name="isUI" value="true" />
		  <param name="dynamicStreaming" value="true" />
		  <param name="linkBaseURL" value="Únete a #LaEmocionMasPopular" />
		<param name="language" value="es" />
		<param name="labels" value="/es_labels.xml" />
		  <param name="@videoPlayer" value="3895074030001" />
		  <param name="secureConnections" value="true" />
<param name="secureHTMLConnections" value="true" />
		</object>

		<!-- 
		This script tag will cause the Brightcove Players defined above it to be created as soon
		as the line is read by the browser. If you wish to have the player instantiated only after
		the rest of the HTML is processed and the page load is complete, remove the line.
		-->
		<script type="text/javascript">brightcove.createExperiences();</script>

		<!-- End of Brightcove Player -->
	</div>
	<div id="game_advertisement" class="right">
		<div class="banner">
			<div class="logo_game"></div>
			<h3 style='color: #00498f; font-size: 21.7px; margin: 70px 0 0; '>ENTRA A NUESTRO CAMPO DE BATEO VIRTUAL Y MUESTRA TUS HABILIDADES</h3>
			<span class="blue_ball"></span>
			<a href="/conecta" class="btn-game ribborn-title yellow">¡jugar!</a>
		</div>
		<h2>Compártelo con tus amigos y únete a la #EmociónMásPopular</h2>  
	</div>
	<div class="clear-float"></div>
</section>

<div id="games">
<!-- PROXIMOS JUEGOS -->
	<aside>
		<h3 class="ribborn-title">Próximos Juegos</h3>
		<div id="next_game">
			<?= $nextGames; ?>
			<img src='/images/0.png' class="arow-blue" />
		</div>
	</aside>

<!-- TABLA DE POSICIONES -->
<div id="team_position" class="right">
	<h3 class="ribborn-title">Tabla de Posiciones</h3>
	<table>
		<tr>
			<th class="logo" style="width: 3%"></th>
			<th style="width: 30%;">Serie Regular</th>
			<th style="width: 5%;">J</th>
			<th style="width: 5%;">G</th>
			<th style="width: 5%;">P</th>
			<th style="width: 8%;">PCT</th>
			<th style="width: 8%;">DIF</th>
			<th style="width: 8%;">CASA</th>
			<th style="width: 10%;">RUTA</th>
			<th style="width: 10%;">RACHA</th>
			<th style="width: 8%;">U10</th>
		</tr>
		<?php
			foreach($standing as $equipo)
			{
				if(!isset($equipo['Je'])) continue;

				$logo = null;
				switch (trim($equipo['Equipo'])) 
				{
					case "Aguilas Cibaeñas":
							$logo = 'logo_aguilas';
						break;
					case 'Toros del Este':
							$logo = 'logo_toros';
						break;
					case 'Estrellas Orientales':
							$logo = 'logo_estrellas';
						break;					
					case 'Gigantes del Cibao':
							$logo = 'logo_gigantes';
						break;
					case 'Tigres del Licey':
							$logo = 'logo_licey';
						break;
					case 'Escogido':
							$logo = 'logo_escogido';
						break;																				
				}

				echo "
					<tr>
						<td class='logo'><img src='/images/teams/{$logo}.png' alt=''></td>
						<td class='align-left'>{$equipo['Equipo']}</td>
						<td>{$equipo['Je']}</td>
						<td>{$equipo['J']}</td>
						<td>{$equipo['G']}</td>
						<td>{$equipo['P']}</td>
						<td>{$equipo['Pct']}</td>
						<td>{$equipo['Dif']}</td>
						<td>{$equipo['Casa']}</td>
						<td>{$equipo['Ruta']}</td>
						<td>{$equipo['Racha']}</td>
					</tr>
				";
			}
		?>
		
	</table>
</div>

<!-- TWEET -->
<div class="socialblock">
	<?=$tweet;?>
	<a href="#results" class="blue_arrowdown"></a>
</div>
</div>
</div>

<!-- TABLA DE RESULTADOS -->
<div id="results">
<h1><img src="images/result.jpg" alt=""/></h1>	
<div class="content"  style="text-align: center;">

<?= $gameResults; ?>

<a href="#" class="white_arrowdown"></a>
</div>
