
<div class="main-content top">
	<div class="formbox">
		<div class="logo_game"></div>
		<div class="dotted_line"></div>
		<div class="content-form">
			<h3 class="ribborn-title" style="width:300px;">Recuperar Constraseña</h3>
			<h4>¿Solicitaste recuperar tu Contraseña?</h4>
			<?php if($this->getContent()) { ?> <div style="text-align:center;"> <?php echo $this->getContent(); ?> </div> <?php }?>
			<form id="login" method="post">
				<input type="text" id="" name="email" placeholder="Correo electrónico" />
				<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
				<div class="buttons">
					<input type="submit" class="btn-orange" value="Recuperar">
					<input type="submit" name="new" class="btn-blue" value="Soy un nuevo bateador">
				</div>
			</form>
			<div class="dotted_line"></div>
		</div>
	</div>
</div>
