<div class="main-content top">
	<div class="formbox">
		<div class="logo_game"></div>
		<div class="dotted_line"></div>
		<div class="content-form">
			<h3 class="ribborn-title" style='width:220px;'>Iniciar Sesión</h3>
			<h4>Si haz jugado antes, entonces eres un Líder de Bateo, inicia sesión para conectar tus homeruns y subir tu posición en el ranking.</h4>
						<?php if($this->getContent()) { ?> <div style="text-align:center;"> <?php echo $this->getContent(); ?> </div> <?php }?>
			<form id="login" method="post">
				<input type="password" id="" name="password" placeholder="Contraseña" />
				<input type="password" id="" name="password2" placeholder="Confirmar Contraseña"/>

				<div class="buttons">
					<input type="submit" name='login' class="btn-orange" value="Enviar">
				</div>
			</form>
			<div class="dotted_line"></div>
		</div>
	</div>
</div>
