<!DOCTYPE HTML>
<html>
<head>
	<title>Emoción Popular</title>
	<meta charset="UTF-8">
	<meta property="og:site_name" content="Emoción Popular" />
	<meta property="fb:app_id" content="688310981285233">
	<meta property="og:url" content="https://emocionpopular.com.do/conecta" />

	<meta  content="Emoción Popular" property="og:title" />
	<meta property="og:image" content="https://emocionpopular.com.do/images/ComparteLaEmocionMasPopular.jpg" />
	<meta content="Conecta un HOMERUN POPULAR.  Entra a nuestro campo de bateo virtual,  muestra tus habilidades y conviértete en un líder de bateo. " property="og:description"  />
	<link rel="shortcut icon" type="image/png" href="/images/emocion-favicon.png">
	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="/css/style.css?<?=time();?>">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css">

	<!-- SLIDE SCRIPTS -->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/slides.jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.maskedinput.min.js"></script>
	<script src="/js/perfect-scrollbar.js"></script>
	<script src="/js/base.js"></script>

	<script>
		$(function(){
			$('#slides').slides({
				generateNextPrev: true,
				play: 9000
			});
		});
	</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=688310981285233&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div id="wrapper" <?php if( $this->dispatcher->getControllerName() == 'conecta') { ?> class="game" <?php } else { ?> class="homerun" <?php }?> >
		<header>
			<span class="dotted_line top"></span>
			<div class="content" style="overflow: hidden">
				<a href='/'><h1 id="logo"></h1></a>
				<nav>
					<ul>
						<li <?php if( $this->dispatcher->getControllerName() == 'conecta') { ?> class="current"<?php } ?>><a href="/conecta">Conecta</a></li>
						<li <?php if( $this->dispatcher->getControllerName() == 'bateo') { ?> class="current"<?php } ?>><a href="/bateo">Líderes de Bateo</a></li>
						<li <?php if( $this->dispatcher->getControllerName() == 'soluciones') { ?> class="current" <?php } ?>><a href="/soluciones">Soluciones Popular</a></li>
					</ul>
				</nav>
				<div class="popular_logo"><img src="/images/popular_logo.png" alt=""></div>
			</div>
			<span class="dotted_line bottom"></span>
		</header>

	<?php if( $this->dispatcher->getControllerName() == 'bateo' || $this->dispatcher->getControllerName() == 'admin') { ?>
		<div id="searchbox">
			<div class="content">
				<div id="search">
					<form class="form-inline" role="form" method="post">
						<input type="text" id="" name="search" value="<?= $this->request->getPost("search") ?>" placeholder="Buscar bateador"/>
						<span class="glass" onclick="$(this).closest('form').submit();"></span>
					</form> 
				</div>

				<h1><img src="/images/ranking-title.png"></h1>
			</div>
		</div>
	<?php } ?>

	<?php if( $this->dispatcher->getControllerName() == 'soluciones') { ?>
		<div id="searchbox" style='height: 200px;'>
			<div class="content">
				<div id="search">
			
				</div>

				<h1><img src="/images/soluciones_popular.png" style="margin-top: 30px;"></h1>
			</div>
		</div>
	<?php } ?>
	
		<?php if( $this->dispatcher->getActionName() == 'politica') { ?>
		<div id="searchbox" style='height: 200px;'>
			<div class="content">
				<div id="search">
			
				</div>

				<h1><img src="/images/politica_privacidad.png" style="margin-top: 30px;"></h1>
			</div>
		</div>
	<?php } ?>

	<!-- CONTENEDOR PRINCIPAL -->
		<div class="main-content top">
			<?php echo $this->getContent(); ?>
		</div>



		<footer>
			<div class="content main">
				<div class="column">
					<h3 class="ribborn-title">Contáctanos</h3>
					<div style='margin:20px; color: #000; font-size:11px; padding:8px; background:#fff'>
					Queremos escuchar tu voz como cliente.<br /> Danos tu opinión.<br /><br />
					Contáctanos por cualquiera de estas vias: <br /><br />
					<img src='/images/phone-51-24.png' style='float: left; margin-right:5px;' /> Llama a Telebanco Popular al 809.544.5555 / *1.809.200.5555 <br /> <br />
					<img src='/images/message-24.png' style='float: left; margin-right:5px;' /> Escribenos un correo a <a href='mailto:vozdelcliente@bpd.com.do' style="color:white;">vozdelcliente@bpd.com.do</a><br /><br />
					<img src='/images/twitter-24.png' style='float: left; margin-right:5px;' /> Envíanos un tuit a @Popularatulado<br /><br />
					</div>					
				</div>
				<div class="column" style="min-height:650px;">
					<h3 class="ribborn-title">Facebook</h3>
					<div style='margin:20px; background:white;'>
<div class="fb-like-box" data-href="https://www.facebook.com/ExperienciaPopular" data-width="260" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>					
			</div>
				</div>
				<div class="column">
					<h3 class="ribborn-title"><a href="https://twitter.com/Popularenlinea" target="_blank"  style='color:#00498f; text-decoration: none; text-transform:none;'>@Popularenlinea</a></h3>
					<div style="font-size:9px white; color: white; margin:20px">
						<a class="twitter-timeline" href="https://twitter.com/Popularenlinea" data-widget-id="533367951240335360">Tweets by @Popularenlinea</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
			</div>
			<div id="copy">
				<div class="content"><p>© 2014 Banco Popular Dominicano. Todos los derechos reservados. - <a href='/index/politica' target='_blank' style='color:white;'>Políticas de Privacidad</a> <?php if ($this->session->has("userData") && $this->session->get("userData")->role == 1){ ?> - <a href="/admin" style='color:white;'>Admin</a><?php } ?></p></div>
			</div>
		</footer>
	</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56835919-1', 'auto');
  ga('send', 'pageview');

</script>
<img src="https://secure.adnxs.com/seg?add=2271577&t=2" [^] width="1" height="1" />
</body>
</html>
